.swiper {
  width: 87%;
  padding-top: 5px;
  padding-bottom: 40px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 100%;
  }
}