@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y: scroll;
}
.text-shadow {
    text-shadow: 3px 3px 5px rgba(51, 26, 21, 0.5);
}
a.active{
    color: #63AB45;
    font-weight: 500;   
}
.add-visa-bg{
    background: linear-gradient(125deg, rgba(99, 171, 69, 0.1) 0%, rgba(251, 176, 59, 0.1) 100%);
}
.visa-card-shadow{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.video-button {
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0.7) 50%
    );
    background-clip: border-box;
    transition: border-color 0.3s ease;
  }

  .video-button:hover {
    border-color: rgba(0, 0, 0, 0.7);
  }

  .play-icon {
    pointer-events: none;
  }
  